//Шрифты
$primary-font: 'Roboto', sans-serif;

//Палитра

// Цвет шрифта
$text-primary: #000000;
$text-primary-lighten: #545454;
$text-for-modal: #8c8c8c;
$text-secondary: #ffffff;
$accent-color: #ff6b08;
$error-color: #ff001b;

// Фон
$bg-hero: #1a1919;
$bg-footer: #f7f7f7;
$bg-dark-theme: #1d1c1c;

// Тени
