<li class="card-set_item">
        <img class="card-set_img" src=`"https://image.tmdb.org/t/p/w500{{poster_path}}"` alt='film'>
        <div class="card-set_box">
        <p class="card-set_text">{{title}}</p>
        <p class="card-set_genres">{{genre_ids}} | {{release_date}}</p>
        </div>
        </li>