<footer class="footer">
    <section class="footer__section">
        <div class="container">
            <ul class="footer__list">
                <li class="footer__copyright">
                    © 2022 | All Rights Reserved | 
                </li>
                <li class="footer__developers"> 
                    Developed with by
                        <svg class="heart" width="14" height="13">
                            <use href="images/icons.svg#icon-heart"></use>
                        </svg>
                    <a class="teammates__link" href="#winup"> 
                        GoIT Students
                    </a>
                </li>
            </ul>
        </div>
    </section>
</footer>
