<header class="header">
    <div class="container">

        <div class="header__wrapper">
            <!-- Логотип хедера -->
            <a href="#" class="header__logo-link" aria-label="Reload the page">
                <svg class="header__logo-icon" width="24" height="24">
                    <use href="images/icons.svg#icon-film"></use>
                </svg>
                <span class="header__logo-text">Filmoteka</span>
            </a>
            <!-- Меню с навигацией -->
            <nav class="nav">
                <button class="nav__home" aria-label="Back home">
                    Home
                </button>
            
                <button class="nav__library" aria-label="Go library">
                    My library
                </button>
            </nav>
        </div>

        <!-- Герой -->
        <div class="hero__section">
            <h1 class="hero__title visually-hidden">Filmoteka</h1>
        </div>
    </div>
</header>