.gallery {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.card-set {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.card-set__img {
  @media screen and (min-width: 768px) {
    width: 274px;
    height: 398px;
  }
}

.card-set__item {
  @media screen and (min-width: 768px) {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

.card-set__text {
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
}

.card-set__genres {
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
}
