.header {
  margin-bottom: 20px;
  background-color: $bg-hero;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 46px;
  margin-bottom: 41px;
}

// Логотип
.header__logo-link {
  margin-right: 10px;
  color: $text-secondary;

  @include transition2(transform, color);

  &:hover,
  &:focus {
    transform: scale(1.1);
    color: $accent-color;
  }
}

.header__logo-icon {
  @include transition1(transform);

  &:hover,
  &:focus {
    transform: rotate(180deg);
  }
}

.header__logo-text {
  @media screen and (max-width: 767px) {
    display: none;
  }
  font-size: 30px;
  line-height: 1.17;
}

// Навигация
.nav__home,
.nav__library {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $text-secondary;
  background-color: transparent;

  border: none;

  @include transition1(box-shadow);

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 2.8px 2.2px rgb(218, 105, 12), 0 6.7px 5.3px rgb(218, 105, 12),
      0 12.5px 10px rgba(221, 126, 37, 0.856), 0 22.3px 17.9px rgba(221, 126, 37, 0.856),
      0 41.8px 33.4px rgb(209, 114, 6), 0 100px 80px rgb(209, 114, 6);
  }
}

.nav__home {
  margin-right: 39px;
}

.accent-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;

  height: 2.5px;
  width: 100%;

  background-color: $accent-color;
}

//Input
.header__search {
  position: relative;
  text-align: center;
}

.header__input {
  position: relative;
  max-width: 280px;
  width: 100%;

  font-size: 14px;
  line-height: 1.14;
  color: $text-secondary;
  background-color: transparent;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $text-secondary;

  @include transition1(border-bottom);

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-bottom: 1px solid $accent-color;
  }

  &::placeholder {
    color: $text-secondary;
  }

  @media screen and (min-width: 768px) {
    max-width: 336px;
  }
}

.header__form-btn {
  position: absolute;
  top: 2px;
  right: 0;
  background-color: transparent;
  border: 0;

  @media screen and (min-width: 768px) {
    right: 140px;
  }

  @media screen and (min-width: 1024px) {
    right: 273px;
  }
}

.header__search-icon {
  stroke: $text-secondary;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    right: 140px;
  }

  @media screen and (min-width: 1024px) {
    right: 273px;
  }

  &:hover,
  &:focus,
  &:active {
    stroke: $accent-color;
  }
}

//Кнопки на странице My library
.header__buttons {
  display: none;
  text-align: center;
}
.button__watched,
.button__queue {
  padding: 14px 36px 12px;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-transform: uppercase;

  color: $text-secondary;
  background-color: transparent;
  border: 1px solid $text-secondary;
  border-radius: 5px;

  @include transition2(background-color, border-color);

  &:hover,
  &:focus,
  &:active {
    border-color: $accent-color;
  }
}

.button__watched {
  @media screen and (min-width: 320px) {
    margin-right: 20px;
  }
}

.accent-filling {
  background-color: $accent-color;
  border-color: $accent-color;
}

///////////////////////// Background шапки//////////////////////////////////
.header__home {
  // Mobile
  @media screen and (max-width: 319px) {
    background-size: cover;
  }
  margin-right: auto;
  margin-left: auto;
  height: 230px;

  background-color: $bg-hero;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/homebg-mobile.jpg');

  @media screen and (min-device-pixel-ratio: 1.5),
    screen and (min-resolution: 144dpi),
    screen and (min-resolution: 1.5dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/homebg-mobile@2x.jpg');
  }

  // Tablet
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/homebg-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 1.5),
      screen and (min-resolution: 144dpi),
      screen and (min-resolution: 1.5dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/homebg-tablet@2x.jpg');
    }
  }

  // Desktop
  @media screen and (min-width: 1024px) {
    // max-width: 1024px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/homebg-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 1.5),
      screen and (min-resolution: 144dpi),
      screen and (min-resolution: 1.5dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/homebg-desktop@2x.jpg');
    }
  }
}

.header__library {
  // Mobile
  @media screen and (max-width: 319px) {
    background-size: cover;
  }
  margin-right: auto;
  margin-left: auto;
  height: 230px;

  background-color: $bg-hero;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/librarybg-mobile.jpg');

  @media screen and (min-device-pixel-ratio: 1.5),
    screen and (min-resolution: 144dpi),
    screen and (min-resolution: 1.5dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/librarybg-mobile@2x.jpg');
  }

  // Tablet
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/librarybg-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 1.5),
      screen and (min-resolution: 144dpi),
      screen and (min-resolution: 1.5dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/librarybg-tablet@2x.jpg');
    }
  }

  // Desktop
  @media screen and (min-width: 1024px) {
    // max-width: 1024px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/librarybg-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 1.5),
      screen and (min-resolution: 144dpi),
      screen and (min-resolution: 1.5dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/librarybg-desktop@2x.jpg');
    }
  }
}
